{% extends 'base.html.twig' %}
{% block title %}Episodes de la saison #{{ program.id }}
{% endblock %}

{% block body %}
	<div>
		<h1>
			{{program.title}}
		</h1>
		<p>
			{{program.synopsis}}
		</p>
	</div>
	<h2>
		{{ season.description }}
	</h2>
	{% for episode in season.episodes %}
		<div>
			<h2>{{ episode.title }}</h2>
			<p>{{ episode.number }}</p>
			<p>{{ episode.synopsis }}</p>
		</div>
    {% endfor %}
	{% endblock %}
    