{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.synopsis }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            {% for season in program.seasons %}
            <a href="{{ path('program_season_show', { 'program_id': program.id, 'season_id': season.id }) }}">{{ season.description }}</a>
            {% endfor %}
        </div>
    </div>
    <strong>Acteurs :</strong>
<ul>
    {% for actor in program.actors %}
        <li><a href="{{ path('actor_show', { id: actor.id}) }}">{{ actor.name }}</a></li>
    {% else %}
        <li>Aucun acteur pour cette série</li>
    {% endfor %}
</ul>
    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}
