{% extends 'base.html.twig' %}

{% block title %}Actor index{% endblock %}

{% block body %}
    <h1>Actor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Série</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td><a href="{{ path('actor_show', { id: actor.id}) }}">{{ actor.name }}</a></td>
                <td>{% for program in actor.programs %}
				    <a href="{{ path("program_show", { id: program.id}) }}">{{program.title}}</a>
				{% endfor %}</td>
                <td>
                    <a href="{{ path('actor_edit', { id: actor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('actor_new') }}">Create new</a>
{% endblock %}
